.liveblog-events {
  margin-bottom: 0px;
}

.liveblog-event {
  position: relative;
  display: inline-block;
  width: 100%;
}

.liveblog-event-meta {
  font-size: .8rem;
  color: $color-grey-base;
}

.liveblog-event-content {
  word-break: break-all;
}

.liveblog-event-content:hover {
  cursor: pointer;
  text-decoration: underline;
}

.liveblog-event .type-key {
  display: none;
}

.liveblog-events-expand {
  position: relative;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  &-button {
    width: 32px;
    height: 32px;
    padding: 0px;
    border-radius: 50%;
    border: 2px solid #0570E7;
    z-index: 2;
    background: #fff;
    position: absolute;
    outline: none;
    &:hover, &:focus {
      background: #fff;
    }
  
    &.expand-up {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  .expand-line {
    width: 100%;
    background: #D8D8D8;
    height: 1px;
    left: 0;
    top: 15px;
  }
}
