.liveblog-share {
    padding-top: 10px;
    .share-social {
        display: inline-block;
        padding: 0px;
        border: none;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        background: none;
        margin-right: 0.5rem;
        .social-icon {
            height: 100%;
            width: 100%;
            display: block;
        }
        &:hover, &:focus {
            box-shadow: none;
        }
    }
}