.liveblog-share {
    padding-top: 10px;
    .share-social {
        padding: 0px;
        border: none;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        text-align: center;
        background: none;
        margin-right: 0.5rem;
        .social-icon {
            height: 100%;
            width: 100%;
            display: block;
        }
    }
    @media (min-width: 768px) {
        .share-whatsapp {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .share-email {
            display: none;
        }
    }
}